{% include 'head.html.twig' %}
{% include 'loader.html.twig' %}
{% include 'sidebar.html.twig' %}

<!-- Custom Container -->
<div class="dt-container">

    <!-- Site Content Wrapper -->
    <div class="dt-content-wrapper">

        <!-- Site Content -->
        <div class="dt-content">

            <!-- Grid Item -->
            <div class="col-xl-12 col-md-6 col-12 order-xl-1">

                <a href="{{ path('app_admin_payment_index') }}">Retour à la liste</a>

                <!-- Card -->
                <div class="dt-card dt-card__full-height">

                    <!-- Card Header -->
                    <div class="dt-card__header pt-6">

                        <!-- Card Heading -->
                        <div class="dt-card__heading">
                            <h3 class="dt-card__title">Paiement N°{{ payment.id }}</h3>
                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="dt-card__body">

                        <div class="row">

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-mail icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Mail</span>
                                    <span class="h5">{{ payment.userPayment.email }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-projects icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Rôle</span>
                                    {% if 'ROLE_ADMIN' in payment.userPayment.roles %}
                                        <span class="h5">Administrateur</span>
                                    {% else %}
                                        <span class="h5">Utilisateur</span>
                                    {% endif %}
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-user icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Nom</span>
                                    <span class="h5">{{ payment.userPayment.firstName }} {{ payment.userPayment.lastName }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                        </div>

                        <div class="row">

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-date-time-picker icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Date de création</span>
                                    <span class="h5">{{ payment.createdAt|date('d/m/Y') }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-date-time-picker icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Date de mise à jour</span>
                                    {% if payment.updatedAt %}
                                        <span class="h5">{{ payment.updatedAt|date('d/m/Y') }}</span>
                                    {% else %}
                                        <span class="h5">-</span>
                                    {% endif %}
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                        </div>

                        <div class="row">
                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-saas icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Session N°</span>
                                    <span class="h5">{{ payment.sessionEvent.id }}</span>
                                </div>
                                <!-- /media body -->

                                <i class="icon icon-price-list icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Prix</span>
                                    <span class="h5">{{ payment.sessionEvent.price ? payment.sessionEvent.price~'€' : 'Gratuit' }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-price-list icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Moyen de paiement</span>
                                    {% if 'BANK_CHECK' in payment.paymentType %}
                                        <span class="h5">Chèque</span>
                                    {% elseif 'CASH' in payment.paymentType %}
                                        <span class="h5">Espèce</span>
                                    {% elseif 'FREE' in payment.paymentType %}
                                        <span class="h5">Aucun</span>
                                    {% elseif 'STRIPE' in payment.paymentType %}
                                        <span class="h5">Stripe</span>
                                    {% elseif 'BANK_TRANSFER' in payment.paymentType %}
                                        <span class="h5">Virement</span>
                                    {% else %}
                                        <span class="h5">Autre</span>
                                    {% endif %}
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->
                        </div>

                        <a href="{{ path('app_admin_payment_edit', {'id': payment.id}) }}" class="btn btn-primary mt-2 mb-2">Éditer</a>

                        {{ include('admin_payment/_delete_form.html.twig') }}

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->

            </div>
            <!-- /grid item -->

        </div>
        <!-- /site content -->

    </div>
    <!-- /site content wrapper -->

</div>
<!-- /custom Container -->

{% include 'footer.html.twig' %}
{% include 'script.html.twig' %}