{% include 'head.html.twig' %}
{% include 'loader.html.twig' %}
{% include 'sidebar.html.twig' %}

<!-- Custom Container -->
<div class="dt-container">

    <!-- Site Content Wrapper -->
    <div class="dt-content-wrapper">

        <!-- Site Content -->
        <div class="dt-content">

            <!-- Grid Item -->
            <div class="col-xl-12 col-md-6 col-12 order-xl-1">

                <a href="{{ path('app_admin_volunteer_index') }}">Retour à la liste</a>

                <!-- Card -->
                <div class="dt-card dt-card__full-height">

                    <!-- Card Header -->
                    <div class="dt-card__header pt-6">

                        <!-- Card Heading -->
                        <div class="dt-card__heading">
                            <h3 class="dt-card__title">Demande de bénévolat N°{{ volunteer.id }}</h3>
                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="dt-card__body">

                        <div class="row">

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-mail icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Mail</span>
                                    <span class="h5">{{ volunteer.userVolunteer.email }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-projects icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Rôle</span>
                                    {% if 'ROLE_ADMIN' in volunteer.userVolunteer.roles %}
                                        <span class="h5">Administrateur</span>
                                    {% else %}
                                        <span class="h5">Utilisateur</span>
                                    {% endif %}
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-user icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Nom</span>
                                    <span class="h5">{{ volunteer.userVolunteer.firstName }} {{ volunteer.userVolunteer.lastName }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                        </div>

                        <div class="row">

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-date-time-picker icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Date de création</span>
                                    <span class="h5">{{ volunteer.createdAt|date('d/m/Y') }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-date-time-picker icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Date de mise à jour</span>
                                    {% if volunteer.updatedAt %}
                                        <span class="h5">{{ volunteer.updatedAt|date('d/m/Y') }}</span>
                                    {% else %}
                                        <span class="h5">-</span>
                                    {% endif %}
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                        </div>

                        <div class="row">

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-task-manager icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Réponse</span>
                                    <span class="h5">{{ volunteer.isValidated ? 'Accepté' : 'Refusé' }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                            <!-- Media -->
                            <div class="media mb-5 col-xl-4 col-md-12 col-12">

                                <i class="icon icon-task-manager icon-xl mr-5"></i>

                                <!-- Media Body -->
                                <div class="media-body">
                                    <span class="d-block text-light-gray f-12 mb-1">Statut</span>
                                    {% if 'IN_PROGRESS' in volunteer.status %}
                                        <span class="h5">En cours</span>
                                    {% else %}
                                        <span class="h5">Terminée</span>
                                    {% endif %}
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->

                        </div>

                        <a href="{{ path('app_admin_volunteer_edit', {'id': volunteer.id}) }}" class="btn btn-primary mt-2 mb-2">Éditer</a>

                        {{ include('admin_volunteer/_delete_form.html.twig') }}

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->

            </div>
            <!-- /grid item -->

        </div>
        <!-- /site content -->

    </div>
    <!-- /site content wrapper -->

</div>
<!-- /custom Container -->

{% include 'footer.html.twig' %}
{% include 'script.html.twig' %}